In [ ]:
'''
Update reference of category 2 names
'''

In [1]:
import pandas as pd
import numpy as np

In [4]:
# read drug basic data
df1 = pd.read_csv('1.藥品基本檔.csv')
exclude = pd.read_excel('exclude.xlsx')
ref = pd.read_excel('cat_ref.xlsx')

In [5]:
# drug selection
exclude_list = exclude.iloc[:,0].tolist()
df1 = df1[~df1['藥品代碼'].isin(exclude_list)]  # exclude drugs in exclusion list
df1 = df1[(df1['藥品狀態'] == '可用')]  # pick status available
df1 = df1.dropna(subset=['藥理分類2'])  # exclude empty & weird category 2
exclude_list = ['MEDD', 'ZOTH', 'PHR']
df1 = df1[~df1['藥理分類2'].isin(exclude_list)]

In [12]:
# make category 2 list
cat2_list = df1['藥理分類2'].sort_values().unique().tolist()
li = []
for i in cat2_list:
    i = i.lower()
    if i[-2:] == '00':
        li.append(i[:2] + r'-00-00')
        li.append(i)

    elif (i[-2:] != "00"):
        li.append(i[:2].lower() + r'-00-00')
        li.append(i[:5].lower() + r'-00')
        li.append(i)
    else:
        li.append(i)
        
# remove duplicates in the list
l = []
for i in li:
    if i not in l:
        l.append(i)

In [16]:
df_cat2 = pd.DataFrame(l, columns =['code'])
df_cat2

         code
0    ad-00-00
1    ad-01-00
2    ad-02-00
3    ai-00-00
4    ai-01-00
..        ...
246  vs-00-00
247  vs-01-00
248  vs-01-01
249  vs-01-03
250  vs-01-05

[251 rows x 1 columns]

In [17]:
ref

         code                                 name
0    ad-01-00                    General Antidotes
1    ad-02-00                   Specific Antidotes
2    ai-01-01                          Penicillins
3    ai-01-02                       Cephalosporins
4    ai-01-03                      Aminoglycosides
..        ...                                  ...
203  vs-01-02  X Ray Contrast Media, Non-Iodinated
204  vs-01-04            Ultrasound Contrast Media
205  zz-00-00                     Other Categories
206  zo-00-00                     Other Categories
207  vs-00-00                      Contrast Medium

[208 rows x 2 columns]

In [18]:
out = df_cat2.merge(ref, on='code', how='outer')
out

           code                                 name
0      ad-00-00                            Antidotes
1      ad-01-00                    General Antidotes
2      ad-02-00                   Specific Antidotes
3      ai-00-00                Anti-Infective Agents
4      ai-01-00                       Antibacterials
..          ...                                  ...
258  zoth-00-00                       Other Category
259    vs-01-02  X Ray Contrast Media, Non-Iodinated
260    vs-01-04            Ultrasound Contrast Media
261    zz-00-00                     Other Categories
262    zo-00-00                     Other Categories

[263 rows x 2 columns]

In [20]:
out.loc[(out['code'].str.len() == 8)]

         code                                 name
0    ad-00-00                            Antidotes
1    ad-01-00                    General Antidotes
2    ad-02-00                   Specific Antidotes
3    ai-00-00                Anti-Infective Agents
4    ai-01-00                       Antibacterials
..        ...                                  ...
257  me-02-03                         Meglitinides
259  vs-01-02  X Ray Contrast Media, Non-Iodinated
260  vs-01-04            Ultrasound Contrast Media
261  zz-00-00                     Other Categories
262  zo-00-00                     Other Categories

[261 rows x 2 columns]

In [24]:
out = out.loc[(out['code'].str.len() == 8)]
out.to_excel('cat_ref2.xlsx', encoding='utf-8', index=0)